In [1]:
'''
pip install dask[dataframe] # install dask library in terminal for dataframe handling
pip install parquet-tools # Used to view content of parquet files in CLI
'''

'\npip install dask[dataframe] # install dask library in terminal for dataframe handling\npip install parquet-tools # Used to view content of parquet files in CLI\n'

In [2]:
import pandas as pd
import os
import glob
import dask.dataframe as dd
import gc

In [ ]:
folder_path = ### # change to your folder pathway

In [6]:
# Count the number of files in folder pathway
total_files = 0
files_in_folder = os.listdir(folder_path)
csv_files = [file for file in files_in_folder if file.endswith('.csv')]
csv_file_paths = [os.path.join(folder_path, file) for file in csv_files]
df = dd.read_csv(csv_file_paths, dtype=str)
for file in csv_file_paths:
  total_files += 1
print(f"Number of files: {total_files}")
df.head()

Number of files: 5

,Id,IsDeleted,MasterRecordId,AccountId,LastName,FirstName,Salutation,MiddleName,Name,RecordTypeId,...,wf_recent_mover__c,wf_top_political_donor__c,wf_luxury_car_owner__c,wf_trust__c,wf_foundation_officer__c,wf_philanthropic_giver__c,wf_plane_owner__c,wf_boat_owner__c,wf_recent_death__c,wf_political_party__c
0,0031I00000ShzglQAB,false,NaN,0011I00000Z5Mf6QAF,Smith,Julie,Mr.,"J,","Julie J, Smith",0121I000000ecjeQAA,...,false,false,false,false,false,false,false,false,false,NaN
1,0031I00000UDe21QAD,false,NaN,0011I00000Z5Mf6QAF,Lee,Kevin,NaN,NaN,Kevin Lee,0121I000000ecjeQAA,...,false,false,false,false,false,false,false,false,false,NaN
2,0031I00000UE2ODQA1,false,NaN,0011I00000Z5Mf6QAF,LincolnTEST,Abraham,NaN,NaN,Abraham LincolnTEST,0121I000000eeV6QAI,...,false,false,false,false,false,false,false,false,false,NaN
3,0031I00000WrsSRQAZ,false,NaN,0011I00000Z5Mf6QAF,ContactMemAffiliate,Test,Dr.,NaN,Test ContactMemAffiliate,0121I000000ecjjQAA,...,false,false,false,false,false,false,false,false,false,NaN
4,0031I00000WrsSdQAJ,false,NaN,0011I00000Z5Mf6QAF,ContactMemAssociate,Test,Col.,NaN,Test ContactMemAssociate,0121I000000ecjjQAA,...,false,false,false,false,false,false,false,false,false,NaN

In [7]:
# List all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# List to store individual DataFrames
dask_dfs = []

# Loop over each CSV file
for file in csv_files:
  try:
    file_path = os.path.join(folder_path, file)

    # Read the CSV file into a Dask DataFrame
    df = dd.read_csv(file_path, dtype=str, on_bad_lines='skip', engine='python')

    print(os.path.basename(file))

    # Add a new column with the filename
    basename = os.path.basename(file)
    df['SNAPSHOT_DATE'] = pd.to_datetime(basename.replace('Contact Backup ','').replace('.csv', '')) # Replace file name to only have the date

    # Append the DataFrame to the list
    dask_dfs.append(df)
  except Exception as e:
    print(f"Error reading file: {file}, Error: {e}")
    continue

Contact Backup December 01 2024.csv
Contact Backup February 01 2025.csv
Contact Backup January 01 2025.csv
Contact Backup November 02 2024.csv
Contact Backup October 02 2024.csv

In [8]:
# Concatenate all DataFrames into a single Dask DataFrame
dask_df = dd.concat(dask_dfs, axis=0)

# Display the first few rows to test if SNAPSHOT_DATE column was added
dask_df.head()

,Id,IsDeleted,MasterRecordId,AccountId,LastName,FirstName,Salutation,MiddleName,Name,RecordTypeId,...,wf_top_political_donor__c,wf_luxury_car_owner__c,wf_trust__c,wf_foundation_officer__c,wf_philanthropic_giver__c,wf_plane_owner__c,wf_boat_owner__c,wf_recent_death__c,wf_political_party__c,SNAPSHOT_DATE
0,0031I00000ShzglQAB,false,NaN,0011I00000Z5Mf6QAF,Smith,Julie,Mr.,"J,","Julie J, Smith",0121I000000ecjeQAA,...,false,false,false,false,false,false,false,false,NaN,2024-12-01
1,0031I00000UDe21QAD,false,NaN,0011I00000Z5Mf6QAF,Lee,Kevin,NaN,NaN,Kevin Lee,0121I000000ecjeQAA,...,false,false,false,false,false,false,false,false,NaN,2024-12-01
2,0031I00000UE2ODQA1,false,NaN,0011I00000Z5Mf6QAF,LincolnTEST,Abraham,NaN,NaN,Abraham LincolnTEST,0121I000000eeV6QAI,...,false,false,false,false,false,false,false,false,NaN,2024-12-01
3,0031I00000WrsSRQAZ,false,NaN,0011I00000Z5Mf6QAF,ContactMemAffiliate,Test,Dr.,NaN,Test ContactMemAffiliate,0121I000000ecjjQAA,...,false,false,false,false,false,false,false,false,NaN,2024-12-01
4,0031I00000WrsSdQAJ,false,NaN,0011I00000Z5Mf6QAF,ContactMemAssociate,Test,Col.,NaN,Test ContactMemAssociate,0121I000000ecjjQAA,...,false,false,false,false,false,false,false,false,NaN,2024-12-01

TEST

In [7]:
num_rows = dask_df.shape[0].compute() // 3 # Counts how many rows are in the dataframe

In [8]:
print(num_rows) # Use this number to help determine the number of parquet files wanted, it's suggested that a single file shouldn't hold more than 2,000,000 rows

866542

In [ ]:
# CHANGE npartitions to number of parquet files you want as output
df_repartitioned = dask_df.repartition(npartitions=3)

In [ ]:
# Save the Dask DataFrame to parquet files
parquet_path = ##
df_repartitioned.to_parquet(parquet_path, write_index=False) # Change to output pathway

In [ ]:
parquet-tools show [file pathway] # Use command in terminal to view content of parquet file. Change [file pathway] to your file path